.container {
    font-family: normal;
    width: 60%;
    margin: 0 auto;
    min-width: 1000px;
}
@font-face {
    font-family: "Brody";
    src: url("/fonts/BRODY.ttf");
}
.texto-normal{
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
}
.texto-small{
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
}
.titulo-sec{
    text-align: center;
    font-family: BRODY;
    font-size: 24px;
    margin-top: -5px;
    line-height: 36px;
}
.titulo-main{
    font-family: BRODY;
    font-size: 32px;
    line-height: 36px;
}
.brody{
    font-family: BRODY;
    font-size: 32px;
    margin-top: -5px;
    line-height: 36px;
}
.home-badge{
    z-index: 1;
    margin-bottom: -50px;
    margin-top: -50px;
    position: relative;
}
.hover-orange:hover{
    color: #f3a500;
    cursor: pointer;
}
#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-home .item img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: -100px;
}
body{
    background: white;
}
.enviar{
    background-color: #FA635C;
    border: none;
    height: 40px;
    width: 80px;
}
.becas{
    border-bottom: 1px solid #c3c4ca;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.becas-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
.div-padding{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

.justificado{
    text-align: justify;
}
.padding-top{
    padding-top: 1em;
}
.padding-noticias{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}
.padding-1em{
    padding: -1em;
}
.noticia-cuadro{
    background-color: red;
    float: left;
    width: 90%;
    height: 100px;
    padding: 20px;
}
.noticia-img{
    padding-top: 180px;
    background: rgba(255, 160, 0, 0.5); 
    height: 300px;
    background-size: cover;
    width: 100%;
}
.noticia{
    padding-top: 1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
}
.talleres-cuadro{
    float: left;
    width: 80%;
    padding: 20px;
    height: 100px;
}
.talleres-img{
    padding-top: 220px;
    background: rgba(255, 160, 0, 0.5); 
    height: 340px;
    background-size: cover;
    width: 100%;
}
.cuadro-color-1{
    color: white;
    background: rgb(223,221,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(223,221,0,1) 0%, rgba(152,191,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,221,0,1)), color-stop(100%,rgba(152,191,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(223,221,0,1) 0%,rgba(152,191,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(223,221,0,1) 0%,rgba(152,191,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(223,221,0,1) 0%,rgba(152,191,19,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(223,221,0,1) 0%,rgba(152,191,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdd00', endColorstr='#98bf13',GradientType=0 ); /* IE6-9 */

}
.cuadro-color-2{
    color: white;
    background: rgb(255,223,64); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,223,64,1) 0%, rgba(255,146,10,1) 59%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,223,64,1)), color-stop(59%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,223,64,1) 0%,rgba(255,146,10,1) 59%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,223,64,1) 0%,rgba(255,146,10,1) 59%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,223,64,1) 0%,rgba(255,146,10,1) 59%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,223,64,1) 0%,rgba(255,146,10,1) 59%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf40', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}
.cuadro-color-3{
    color: white;
    background: rgb(45,217,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,217,237,1) 0%, rgba(16,107,186,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,217,237,1)), color-stop(100%,rgba(16,107,186,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(45,217,237,1) 0%,rgba(16,107,186,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(45,217,237,1) 0%,rgba(16,107,186,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(45,217,237,1) 0%,rgba(16,107,186,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(45,217,237,1) 0%,rgba(16,107,186,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dd9ed', endColorstr='#106bba',GradientType=0 ); /* IE6-9 */
}
#googleMap{
    margin-top: 15px;
    width:600px;
    height:400px;
}
#my-calendar{
    width: 500px;
    height:350px;
}
.badge-today{
    height: 100px;
    color: red;
}
.footer-icon{
    text-decoration: none;
    color: #555;
}
.header-icon{
    margin-top: 10px;
    text-decoration: none;
    color: #555;
}