<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>CEPA - Galerias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/lightbox.min.js"></script>
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/lightbox.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
             <div class="row">
                 <div class="small-3 small-centered columns">
                     <img src="images/badge.png">
                 </div> 
            </div>
            <div class="row">
                <div class="small-9 small-centered columns"><h3>Dìa del alumno</h3></div>
            </div>
            <div class="row">
                <div class="small-9 small-centered columns">  
                    <div id="owl-demo">
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl1.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl1.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl2.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl2.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl3.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl3.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl4.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl4.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl5.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl5.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl6.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl6.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl7.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl7.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl8.jpg" data-lightbox="roadtrip"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl8.jpg"></a></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-centered columns"><h3>18 de septiembre</h3></div>
            </div>
            <div class="row">
                <div class="small-9 small-centered columns">  
                    <div id="owl-demo2">
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl1.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl1.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl2.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl2.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl3.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl3.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl4.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl4.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl5.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl5.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl6.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl6.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl7.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl7.jpg"></a></div>
                        <div class="item"><a href="http://owlgraphic.com/owlcarousel/demos/assets/owl8.jpg" data-lightbox="roadtrip2"><img src="http://owlgraphic.com/owlcarousel/demos/assets/owl8.jpg"></a></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#owl-demo").owlCarousel({

                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                    items : 4,
                    itemsDesktop : [1199,5],
                    itemsDesktopSmall : [979,5]

                });
                
                $("#owl-demo2").owlCarousel({

                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                    items : 4,
                    itemsDesktop : [1199,3],
                    itemsDesktopSmall : [979,3]

                });
 
             });
        </script>   

   
    </body>
</html>
