<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <title>CEPA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Place somewhere in the <head> of your document -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <!-- <script src="js/menu_script.js"></script> -->
        <link rel="stylesheet" href="css/flexslider.css" type="text/css">

        <script type="text/javascript" charset="utf-8">
            $(window).load(function () {
                $('.flexslider').flexslider();
            });
        </script>

        <link rel="stylesheet" href="css/estilo.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/menu_styles.css">

    </head>
    <body>

        <div class="container">
            <div class="div">
                <div class="div" style="overflow: hidden">
                    <div style=" width: 150px; float: left;">
                        <a href="index.html"> <img src="images/logo_header.png" alt="CEPA"></a>
                    </div>
                    <div style="margin-top: 100px; float: left;">
                        <a style="text-decoration: none; color: #555;" href="http://www.facebook.com"> <i class="fa fa-2x fa-facebook-square hover-orange"></i></a>
                        <a style="text-decoration: none; color: #555;" href="http//www.twitter.com"> <i class="fa fa-2x fa-twitter-square hover-orange"></i></a>      
                        <a style="text-decoration: none; color: #555;" href="mail"> <i class="fa fa-2x fa-envelope-square hover-orange"></i></a>
                    </div>
                    <div id='cssmenu' style="float: left; margin-top: 20px;">
                        <ul>
                            <li class="active"><a href="index.html">CEPA</a></li>
                            <li><a href="becas.html">BECAS</a></li>
                            <li><a href="talleres.html">TALLERES</a></li>
                            <li><a href="galeria.html">GALERIA</a></li>
                            <li><a href="contacto.html">CONTACTO</a></li>
                        </ul>
                    </div>

                </div>
                <div class="div" style="overflow: hidden; padding-top: 20px; ">
                    <div style="position: relative; width: 140px; top: 145px; left: 37%;">

                        <img class="badge" src="images/badge.png" style=/>
                    </div>


                    <div class="flexslider" style=" overflow: hidden; height: 400px;">




                        <ul class="slides" style="position: absolute; top: -100px;">
                            <li>
                                <img src="images/3.jpg"/>
                            </li>
                            <li>
                                <img src="images/6.jpg" />
                            </li>
                            <li>
                                <img src="images/9.jpg" />
                            </li>
                        </ul>
                    </div>

                    <div style="overflow: hidden; height: auto; width: 100%; margin-top: -33px;">
                        <div class="destacados" style="width: 31.4%; height: 250px; background: rgba(255, 160, 0, 0.5); float: left;"></div>
                        <div class="destacados" style="width: 31.4%; height: 250px; background: rgba(255, 160, 0, 0.5); float: left; margin-left: 2.9%;"></div>
                        <div class="destacados" style="width: 31.4%; height: 250px; background: rgba(255, 160, 0, 0.5); float: left; margin-left: 2.9%;"></div>
                    </div>
                    <div style="text-align: justify; margin-top: 25px; overflow: hidden;">
                        <div class="destacados" style="width: 31.4%; height: 100px; float: left;">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                        </div>
                        <div class="destacados" style="width: 31.4%; height: 100px; float: left; margin-left: 2.9%;">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                        </div>
                        <div class="destacados" style="width: 31.4%; height: 100px; float: left; margin-left: 2.9%;">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                        </div>
                    </div>

                    <div>
                    <div style="margin-top: 20px; padding-left: 10px; width: auto; float: left; border-left: 1px solid;">
                        <p class="f13 candara-bold"><b>
                                CEPA<br>
                                COLEGIO<br>
                                SAN JUAN EVANGELISTA<br>
                            </b>
                        </p>
                        <p class="f13" >
                            Martin de Zamora 6395<br>
                            Las Condes, Santiago<br>
                            Teléfono: 2787 1600
                        </p>
                    </div>
                    <div style="margin-top: 120px; width: auto; float: right;">
                        <a style="text-decoration: none; color: #555;" target="_blank" href="http://www.google.com"> <i class="fa fa-2x fa-google-plus-square hover-orange"></i></a>
                        <a style="text-decoration: none; color: #555;" href="http://www.facebook.com"> <i class="fa fa-2x fa-facebook-square hover-orange"></i></a>
                        <a style="text-decoration: none; color: #555;" href="http//www.twitter.com"> <i class="fa fa-2x fa-twitter-square hover-orange"></i></a>
                        <a style="text-decoration: none; color: #555;" href="http//www.youtube.com"> <i class="fa fa-2x fa-youtube-square hover-orange"></i></a>
                        <a style="text-decoration: none; color: #555;" href="mail"> <i class="fa fa-2x fa-envelope-square hover-orange"></i></a>
                    </div>

                </div>
                    
                </div>




            </div>
        </div>

    </body>
</html>
